#pricing.part
  .content
    %h1 One simple plan

    #pricing-plan
      #plan-title
        Personnal
      #plan-price
        $8
      #plan-per-month
        each month
      %ul#featured
        %li Unmetered number of blogs
        %li Unmetered traffic
    #description
      %h2 
        %b Free trial
      %p 
        You can use Comit for free for 
        %b 30 days without any credit card or engagment. 
        At the end of your trial, you will receive an email and will decide if Comit feet your needs or not.

      %a#start{href: '/auth/github'}
        Authenticate with Github to start publish your blog

%hr