- content_for :title do
  = @blog.name

= render 'layouts/header'

#blog
  %ul#posts
    - @posts.each do |post|
      %li.post
        .asterisk
          ✱
        %a.post-description{href: path_to_blog_post(post)}
          .title= post.title
          .date= post.date.strftime("%Y-%m-%d")