- content_for :title do
  = @blog.name

= render 'layouts/header'

#blog
  %ul#posts
    - @posts.each do |post|
      %li
        .asterisk
          ✱
        .post-description
          .title= link_to post.title, path_to_blog_post(post)
          .date= post.date.strftime("%Y-%m-%d")
